<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.kilian.alfred_dvb</string>
	<key>connections</key>
	<dict>
		<key>2D9B8F29-2834-4F55-90DF-9E198C15F1D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>824C86E0-F59F-4217-B179-3588196773CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CBD9748E-A840-4A51-B410-EF5B869EB29E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBD9748E-A840-4A51-B410-EF5B869EB29E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9627853B-59C6-4B89-8CA8-97FF72C1D1DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kilian Koeltzsch</string>
	<key>description</key>
	<string>Monitor public transport in the VVO/DVB network from Alfred
Icon by https://icons8.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DVB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Du bekommst um {var:notificationTime} eine Benachrichtigung.</string>
				<key>title</key>
				<string>Geht klar ✔️</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>824C86E0-F59F-4217-B179-3588196773CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dvb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Suche...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred_dvb</string>
				<key>subtext</key>
				<string>Liste alle bevorstehenden Abfahrten einer Haltestelle auf</string>
				<key>title</key>
				<string>Abfahrten an einer Haltestelle</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2D9B8F29-2834-4F55-90DF-9E198C15F1D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Die {var:line} Richtung {var:direction} fährt in {var:TIME_OFFSET} Minuten.</string>
				<key>title</key>
				<string>Auf geht's 🏃</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9627853B-59C6-4B89-8CA8-97FF72C1D1DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:notificationDelay}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>CBD9748E-A840-4A51-B410-EF5B869EB29E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Monitor public transport in the VVO/DVB network from Alfred</string>
	<key>uidata</key>
	<dict>
		<key>2D9B8F29-2834-4F55-90DF-9E198C15F1D5</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>824C86E0-F59F-4217-B179-3588196773CA</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>9627853B-59C6-4B89-8CA8-97FF72C1D1DE</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>CBD9748E-A840-4A51-B410-EF5B869EB29E</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>RESULTS_AMOUNT</key>
		<string>6</string>
		<key>TIME_OFFSET</key>
		<string>10</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/kiliankoe/alfred_dvb</string>
</dict>
</plist>
